APP_NAME=larapulse
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_KEY=

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=testing
DB_USERNAME=root
DB_PASSWORD=testing

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PREFIX=""

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=database
SESSION_LIFETIME=120

LARAVEL_ECHO_HOST=127.0.0.1
LARAVEL_ECHO_PORT=6001

DOCKER_APP_PORT=8000
DOCKER_DBMS_PORT=1000
DOCKER_DATABASE_PORT=3300
DOCKER_IMAGE_VERSION=0.1

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

LB_KEY=
LB_PROJECT_KEY=

TZ=Asia/Jakarta
